.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header h1 {
  margin: 0;
  font-size: 28px;
}

.header p {
  margin: 4px 0 0;
  color: rgb(94, 94, 94);
}
