.button {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  background: #007acc;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.button:hover {
  background: #005fa3;
}
